/* TODO: Update px to percentage to fit in smaller screen */
.category-list-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 60px;
  font-size: xx-large;
  padding: 25px;
  border: 2px solid black;
  border-radius: 15px;
  width: auto;
}
span {
  margin-left: 16px;
}
li {
  margin: 15px;
  margin-right: 50px;
}
