.container-home {
  background-color: #dcf7fa;
  width: 80%;
  margin: auto;
  border: 2px solid #afecf4;
  border-radius: 5px;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.statContainer {
  background-color: #dcf7fa;

  overflow: scroll;
  width: 80%;
  margin: auto;
  border: 2px solid #afecf4;
  border-radius: 5px;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.statContainer2 {
  width: 80%;
  margin: auto;
  border: 2px solid #afecf4;
  border-radius: 5px;
  padding: 1%;
  display: flex;
  /* flex-direction: column; */
}

hr {
  margin-left: 0;
  margin-right: 0;
}
