.container-stats {
  /* background-color: #ffffff;
  margin: auto;
  border: 2px solid #afecf4;
  border-radius: 5px;
  padding: 2%;
  width: 80%; */
  overflow: scroll;
  /* height: 30px; */
  /* display: flex; */
  /* flex-direction: column; */
}

.statContainer {
  width: 80%;
  margin: auto;
  border: 2px solid #afecf4;
  border-radius: 5px;
  padding: 1%;
  display: flex;
  /* flex-direction: column; */
}

.statContainer2 {
  width: 80%;
  margin: auto;
  border: 2px solid #afecf4;
  border-radius: 5px;
  padding: 1%;
  display: flex;
  /* flex-direction: column; */
}

hr {
  margin-left: 0;
  margin-right: 0;
}
