.transaction {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  transition: background-color 0.15s;
}

.transaction:hover {
  background-color: rgba(0, 0, 255, 0.342) !important;
}
.transaction:nth-child(odd) {
  background-color: #efefef;
}

p {
  padding: 0;
  margin: 0;
}

.text-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 16px;
}

.left {
  align-items: center;
  flex-direction: row;
  display: flex;
}

.right {
  text-align: right;
}

img {
  display: inline-block;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}
