.transactionView {
  display: flex;
  flex-direction: column;
}

.subheader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 60px;
}
.transactionAmount {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-align: right;
  align-self: center;
  box-sizing: border-box;
}
.transBackButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.transBackButton:hover {
  background-color: rgba(128, 128, 128, 0.267);
}

.transDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.transDetails > div:nth-child(odd) {
  background-color: #efefef;
}

.transDetails div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px;
  width: 100%;
}
.transDetails div p {
  font-size: 25px;
}

.transDetails div label {
  text-align: left;
  color: gray;
  font-size: 15px;
}

.checkBoxes {
  display: flex;
  flex-direction: row !important;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: white;
}
.checkBoxes div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.categoryIcons {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  gap: 10px;
}

.icon:hover {
  color: #efefef !important;
}
.CategoryIcon:hover {
  background-color: blue;
}
