#new-account-btn {
  border-radius: 25px;
  margin: 1.5rem 20% auto 20%;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  #new-account-btn {
    border-radius: 25px;
    margin: 1.5rem 40% auto 40%;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  #new-account-btn {
    border-radius: 25px;
    margin: 1.5rem 50% auto 50%;
  }
}
